[submodule "Monochromator"]
	path = Monochromator
	url = https://github.com/dTorres594/Monochromator.git
[submodule "Lock-in-amplifier"]
	path = Lock-in-amplifier
	url = https://github.com/dTorres594/Lock-in-amplifier.git
